/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: 'Dancing Script', cursive;
}
h1{
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
}
td{
    border: 1px solid rgba(128, 128, 128, 0.582);
    padding: 10px;
    text-align: center;
    width: 80px;
    height: 40px;
    font-size: 1.8rem;
    font-weight: 900;
    border-radius: 1rem;
    cursor: pointer;
}

.operation{
    color: white;
    background-color: rgb(194, 12, 94);
    border-radius: 1rem;
}
.equal{
    border-radius: 1rem;
    font-weight: 900;
    background-color: rgb(40, 151, 36);
}

 .input{
    height: 40px;
    margin-bottom: 2rems;
    border-radius: 1rem;
    text-align: right;
    color: white;
    
}
table{
    margin: auto;
    margin-top: 0.5rem;
}
.clear{
    background: rgb(168, 22, 22);
}
.display{
    text-align: right;
    background-color:palegreen;
    color: white;
}